extends layout

block content
    main
        .about-details.section-padding30
            .container
                .row
                    .offset-xl-1.col-lg-8
                        .about-details-cap.mb-50
                            h4 Our Mission
                            p
                                | Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna
                                | aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor
                                | maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas
                                | accumsan lacus.
                            p
                                | Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo
                                | viverra sebfd dho eiusmod tempor maecenas accumsan.
                        .about-details-cap.mb-50
                            h4 Our Vision
                            p
                                | Consectetur adipiscing elit, sued do eiusmod tempor ididunt udfgt labore et dolore magna
                                | aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor
                                | maecenas accumsan lacus. Risus commodo viverra sebfd dho eiusmod tempor maecenas
                                | accumsan lacus.
                            p
                                | Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus. Risus commodo
                                | viverra sebfd dho eiusmod tempor maecenas accumsan.
        // ? About Area Start
        .support-company-area.pt-100.pb-100.section-bg.fix(data-background='/img/gallery/section_bg02.jpg')
            .container
                .row.align-items-center
                    .col-xl-6.col-lg-6
                        .support-location-img
                            img(src='/img/gallery/about.png', alt='')
                    .col-xl-6.col-lg-6
                        .right-caption
                            // Section Tittle
                            .section-tittles.section-tittles2.mb-50
                                span Our Top Services
                                h2 Our Best Services
                            .support-caption
                                p.pera-top
                                    | Mollit anim laborum duis adseu dolor iuyn voluptcate velit ess
                                    | cillum dolore egru lofrre dsu quality mollit anim laborumuis au dolor in voluptate
                                    | velit cillu.
                                p.mb-65
                                    | Mollit anim laborum.Dvcuis aute serunt iruxvfg dhjkolohr indd re
                                    | voluptate velit esscillumlore eu quife nrulla parihatur. Excghcepteur sfwsignjnt
                                    | occa cupidatat non aute iruxvfg dhjinulpadeserunt moll.
                                a.btn.post-btn(href='/about') More About Us
        // About Area End
        // Team Start
        .team-area.section-padding30
            .container
                .row
                    .cl-xl-7.col-lg-8.col-md-10
                        // Section Tittle
                        .section-tittles.mb-70
                            span Our Professional members
                            h2 Our Team Mambers
                .row
                    // single Tem
                    .col-xl-4.col-lg-4.col-md-6.col-sm-
                        .single-team.mb-30
                            .team-img
                                img(src='/img/gallery/team2.png', alt='')
                            .team-caption
                                h3
                                    a(href='#') Ethan Welch
                                span UX Designer
                    .col-xl-4.col-lg-4.col-md-6.col-sm-
                        .single-team.mb-30
                            .team-img
                                img(src='/img/gallery/team3.png', alt='')
                            .team-caption
                                h3
                                    a(href='#') Ethan Welch
                                span UX Designer
                    .col-xl-4.col-lg-4.col-md-6.col-sm-
                        .single-team.mb-30
                            .team-img
                                img(src='/img/gallery/team1.png', alt='')
                            .team-caption
                                h3
                                    a(href='#') Ethan Welch
                                span UX Designer
        // Team End
        // banner-last Start
        .banner-area.gray-bg.pb-90
            .container
                .row.justify-content-center
                    .col-lg-10.col-md-10
                        .banner-one
                            img(src='/img/gallery/body_card3.png', alt='')
        // banner-last End
    