extends layout
block content
    main
        // About US Start
        .about-area2.gray-bg.pt-60.pb-60
            .container
                .row
                    .col-lg-8
                        // Trending Tittle
                        .about-right.mb-90
                            .about-img
                                img(src='/img/trending/trending_top.jpg', alt='')
                            .heading-news.mb-30.pt-30
                                h3 Here come the moms in space
                            .about-prea
                                p.about-pera1.mb-25
                                    | Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are the ones who make sure things happen—from birth to school lunch.
                                p.about-pera1.mb-25
                                    | Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are the ones who make sure things happen—from birth to school lunch.
                                p.about-pera1.mb-25
                                    | My hero when I was a kid was my mom. Same for everyone I knew. Moms are untouchable. They’re elegant, smart, beautiful, kind…everything we want to be. At 29 years old, my favorite compliment is being told that I look like my mom. Seeing myself in her image, like this daughter up top, makes me so proud of how far I’ve come, and so thankful for where I come from.
                                    | the refractor telescope uses a convex lens to focus the light on the eyepiece.
                                    | The reflector telescope has a concave lens which means it telescope sits on. The mount is the actual tripod and the wedge is the device that lets you attach the telescope to the mount.
                                    | Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are the ones who make sure things happen—from birth to school lunch.
                            .section-tittle.mb-30.pt-30
                                h3 Unordered list style?
                            .about-prea
                                p.about-pera1.mb-25
                                    | Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are the ones who make sure things happen—from birth to school lunch.
                                p.about-pera1.mb-25
                                    | Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are the ones who make sure things happen—from birth to school lunch.
                                p.about-pera1.mb-25
                                    | My hero when I was a kid was my mom. Same for everyone I knew. Moms are untouchable. They’re elegant, smart, beautiful, kind…everything we want to be. At 29 years old, my favorite compliment is being told that I look like my mom. Seeing myself in her image, like this daughter up top, makes me so proud of how far I’ve come, and so thankful for where I come from.
                                    | the refractor telescope uses a convex lens to focus the light on the eyepiece.
                                    | The reflector telescope has a concave lens which means it telescope sits on. The mount is the actual tripod and the wedge is the device that lets you attach the telescope to the mount.
                                    | Moms are like…buttons? Moms are like glue. Moms are like pizza crusts. Moms are the ones who make sure things happen—from birth to school lunch.
                            .social-share.pt-30
                                .section-tittle
                                    h3.mr-20 Share:
                                    ul
                                        li
                                            a(href='#')
                                                img(src='/img/news/icon-ins.png', alt='')
                                        li
                                            a(href='#')
                                                img(src='/img/news/icon-fb.png', alt='')
                                        li
                                            a(href='#')
                                                img(src='/img/news/icon-tw.png', alt='')
                                        li
                                            a(href='#')
                                                img(src='/img/news/icon-yo.png', alt='')
                        // From
                        .row
                            .col-lg-8
                                form#contactForm.form-contact.contact_form.mb-80(action='contact_process.php', method='post', novalidate='novalidate')
                                    .row
                                        .col-12
                                            .form-group
                                                textarea#message.form-control.w-100.error(name='message', cols='30', rows='9', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Message'", placeholder='Enter Message')
                                        .col-sm-6
                                            .form-group
                                                input#name.form-control.error(name='name', type='text', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter your name'", placeholder='Enter your name')
                                        .col-sm-6
                                            .form-group
                                                input#email.form-control.error(name='email', type='email', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter email address'", placeholder='Email')
                                        .col-12
                                            .form-group
                                                input#subject.form-control.error(name='subject', type='text', onfocus="this.placeholder = ''", onblur="this.placeholder = 'Enter Subject'", placeholder='Enter Subject')
                                    .form-group.mt-3
                                        button.button.button-contactForm.boxed-btn.boxed-btn2(type='submit') Send
                    .col-lg-4
                        // Flow Socail
                        .single-follow.mb-45
                            .single-box
                                .follow-us.d-flex.align-items-center
                                    .follow-social
                                        a(href='#')
                                            img(src='/img/news/icon-fb.png', alt='')
                                    .follow-count
                                        span 8,045
                                        p Fans
                                .follow-us.d-flex.align-items-center
                                    .follow-social
                                        a(href='#')
                                            img(src='/img/news/icon-tw.png', alt='')
                                    .follow-count
                                        span 8,045
                                        p Fans
                                .follow-us.d-flex.align-items-center
                                    .follow-social
                                        a(href='#')
                                            img(src='/img/news/icon-ins.png', alt='')
                                    .follow-count
                                        span 8,045
                                        p Fans
                                .follow-us.d-flex.align-items-center
                                    .follow-social
                                        a(href='#')
                                            img(src='/img/news/icon-yo.png', alt='')
                                    .follow-count
                                        span 8,045
                                        p Fans
                        // New Poster
                        .news-poster.d-none.d-lg-block
                            img(src='/img/news/news_card.jpg', alt='')
        // About US End
